{% extends "base.html.twig" %}

{% block content %}
    <form class="text-form" action="" method="POST">
        <label for="form-keyboard" class="form-label">Write your text</label>
        <textarea class="form-keyboard" id="keyboard" name="keyboard">{{ textarea }}</textarea>
        <button class="form-button" type="submit">Send</button>
    </form>
    <section class="content">
        <div class="left hand">
            <h2 class="hand-name">Left Hand</h2>
        {% for stat in stats %}
            {% if loop.index == 6 %}
            </div>
            <div class="right hand">
            <h2 class="hand-name">Right Hand</h2>
            {% endif %}
            <ul class="finger-stats">
                <li class="stats">{{ stat[0] }} <i class="fas fa-percent"></i></li>
                <li class="stats">{{ stat[1] }} <i class="far fa-keyboard"></i></li>
                <li class="stats indice">{{ stat[2] }} <i class="fas fa-plus"></i></li>
            </ul>
        {% endfor %}
        </div>
    </section>
    
{% endblock %}

{% block script %}
    <script src="/assets/js/script.js"></script>
{% endblock %}