{% extends "base.html.twig" %}

{% block content %}
    <form class="text-form" action="" method="POST">
        <label for="keyboard">Write your text</label>
        <textarea class="keyboard" id="keyboard" name="keyboard"></textarea>
        <button type="submit">Send</button>
    </form>
    <section class="content">
        <div class="left hand">
            <h2 class="hand-name">Left Hand</h2>
        {% for stat in stats %}
            {% if loop.index == 6 %}
            </div>
            <div class="right hand">
            <h2 class="hand-name">Right Hand</h2>
            {% endif %}
            <ul class="finger-stats">
                <li class="stats">{{ stat[0] }} <i class="fas fa-percent"></i></li>
                <li class="stats">{{ stat[1] }} <i class="far fa-keyboard"></i></li>
                <li class="stats">{{ stat[2] }} <i class="fas fa-plus"></i></li>
            </ul>
        {% endfor %}
        </div>
    </section>
    
{% endblock %}