<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>{% block title %}Keyboard{% endblock %}</title>
</head>
<body>
    <nav class="nav">
        <ul class="nav-list">
            <li><a class="nav-item" href="/"><i class="fas fa-home"></i> Home</a></li>
            <li><a class="nav-item" href="/"><i class="far fa-keyboard"></i> Keyboards</a></li>
        </ul>
    </nav>
    {% block content %}{% endblock %}

    {% block script %}{% endblock %}
</body>
</html>